# Standard Shell
alias c='clear'
alias l='ls -lah --color=auto'
alias r='exec $SHELL'

# Personal productivity
alias cshell='vim ~/.zshrc'
alias cvim='vim ~/.vimrc'
alias gtfo='history -p'
alias proj='cd ~/projects'
alias configs='cd ~/configs'

alias dev='cd ~/machine/devbox && vagrant up'
alias devssh='cd ~/machine/devbox && vagrant ssh'
alias hack='cd ~/machine/hackbox && vagrant up'
alias hackssh='cd ~/machine/hackbox && vagrant ssh'

alias halt='vagrant halt'
alias boom='vagrant destroy'
alias provide='vagrant provision'

# Ruby
alias be="bundle exec"

# Git
alias ga='git add'
alias gs='git status -sb'
alias gaa='git add --all'
alias gb='git branch'
alias gc='git commit'
alias gcm='git commit -m'
alias gcma='git commit -am'
alias gcane='git commit --amend --no-edit'
alias gpsh='git push'
alias gpll='git pull'
alias gpf='git push --force-with-lease'
alias gco='git checkout'
alias gcom='git checkout main'
alias gcob='git checkout -b'
alias grpr='git remote prune origin'
alias glog='git log --oneline --decorate --color --graph'
alias glog10='git log --oneline --decorate --color --graph -10'
alias glog100='git log --oneline --decorate --color --graph -100'
alias gloga='git log --oneline --decorate --color --graph --all'
alias gd='git diff'
alias gsize='git count-objects -vH'
alias gr='git rebase'
alias gri='git rebase -i'
alias grim='git rebase -i main'
alias grc='git rebase --continue'
alias clean='git check out main && git pull && git branch --merged | grep -v "\\*" | xargs -n 1 git branch -d'
alias publish='git push -u origin $(git branch-name)'
alias branch-name='git rev-parse --abbrev-ref HEAD'

# Github CLI
alias prc='gh pr create -w'
alias prv='gh pr view -w'
alias repo='gh repo view -w'

# rails
alias rc="bin/rails console"
alias rdbm="bin/rails db:migrate"
alias rdbrb="bin/rails db:rollback"
alias rdbr="bin/rails db:reset"
alias rdbs="bin/rails db:seed"
alias rr="rails routes --expanded -g"
alias rt="rails test"
alias rgm="bin/rails g migration"
alias rcred="bin/rails credentials:edit"
alias bi="bundle install"
alias rgm="bin/rails g migration"

# Docker
alias dps='docker ps -a'
alias drm='docker rm'
alias drmf='docker rm -f'
alias db='docker build'
alias dcb='docker compose build'
alias dcu='docker compose up'
alias dcub='docker compose up --build'
alias dcd='docker compose down'
alias dcr='docker compose restart'
alias dce='docker compose exec'
alias websh='docker compose exec web bash'
alias dbsh='docker compose exec db bash'

# Homebrew
alias bubc='brew upgrade && brew cleanup'
