[user]
  name = Emmanuel Etti
  email = emmanueletti@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  quotepath = false
  autocrlf = input
[init]
  defaultBranch = main
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
	default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[include]
  path = ~/.gitconfig.local
[commit]
  template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
