# General
.vagrant/
.DS_Store
.AppleDouble
.LSOverride
rubyonmac/*

# VirtualBox
*.vbox
*.vbox-prev
*.vdi
*.vmdk
*.vmcx
*.vmrs
*.log
*.iso

# Devbox
*.ssh-config

# Icon must end with two \r
Icon

# Thumbnails
._*
